#URL for the presentation
sitePresentation=""
#URL for personio
sitePersonio="https://iox.personio.de/calendar/team-view"

#How much is scrolled on the personio page.
#Adjust according to employee count
personioScrollAmount=10
#Delay before the scrolling starts
personioInitialDelay=5
#Delay between scrolling
personioScrollDelay=3
#Delay after it finished scrolling
personioEndDelay=0

#Duration of the presentation view
presentationDuration=25